:root {
    --charcoal: #264653;
    --persian-green: #2a9d90;
    --orange-yellow: #e9c46a;
    --sandy-brown: #f4a261;
    --burnt-sienna: #e76f51;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background: #defffb;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginForm label {
    display: flex;
    align-items: center;
    margin: 16px 0;
}
.loginForm label p {
    margin: 0 6px -3px;
    font-size: 0.9em;
    width: 60px;
    text-align: center;
}
.loginForm label input {
    padding: 4px;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #264653;
    outline: none;
}
.loginForm button {
    border: 0;
    background: #f4a261;
    border-radius: 2px;
    padding: 4px 26px;
    margin: 0 30px 0 auto;
}
.error {
    width: 100%;
    text-align: center;
    background: #e76f51;
    margin: 10px 0;
    padding: 3px;
}