.notLoginModal {
    position: fixed;
    top: 0;
    left: 0;
    background: #26465396;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notLoginModal > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #264653;
    border-radius: 4px;
    padding: 16px;
}
.notLoginModal p {
    color: lightgray;
}
.notLoginModal button,
.removeModal button {
    border: 0;
    background: #f4a261;
    border-radius: 2px;
    padding: 4px 26px;
    outline: none;
    box-shadow: 0 0 4px 1px var(--sandy-brown);
    cursor: pointer;
    transition: filter .2s;
}
.notLoginModal button:hover,
.removeModal button:hover {
    filter: brightness(1.2);
}
.removeModal {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #26465396;
    z-index: 9;
}
.removeModal > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #264653;
    border-radius: 4px;
    padding: 16px;
    min-width: 200px;
    min-height: 70px;
    animation: fadeIn .3s ease-in-out;
}
.removeModal p {
    color: lightgray;
}
.removeModal .buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.removeModal button {
    margin: 0 16px;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@media screen and (min-width: 768px) {
    .notLoginModal p,
    .removeModal p {
        font-size: 1.4rem;
    }
    .notLoginModal button,
    .removeModal .buttons button {
        font-size: 1.1rem;
    }
}
@media screen and (min-width: 1366px) {
    .notLoginModal p,
    .removeModal p {
        font-size: 1.6rem;
    }
    .notLoginModal button,
    .removeModal .buttons button {
        font-size: 1.3rem;
    }
}
@media screen and (min-width: 1920px) {

}